.message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    max-width: 60%;
}

.imageAndText {
    display: flex;
    align-items: center;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.text {
    display: flex;
    flex-direction: column;
}

.name {
    font-weight: bold;
    color: #333;
}

.messageText {
    white-space: pre-wrap;
    color: #666;
}

.time {
    align-self: flex-end;
    color: gray;
    font-size: 12px;
}
